/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* Aumentar tamano de icono de X en tab para salir */
.tab-close-button *
{
 width: 28px !important;
 height: 28px !important;
}

/* Ocultar boton de nueva pestana */
.tabs-newtab-button {
display: none !important;
}

/* Ocultar icono de Home (va)
#home-button {
display: none !important;
}
*/

/* Ocultar barra de navegacion */
#nav-bar {
display: none !important;
}

/* Ocultar menu contextual tras right-click (o pulsacion mantenida touch) */
#contentAreaContextMenu
{
  display: none !important;
}
